# --- ESPHome & Compilateur ---
.esphome/
secrets.yaml

# --- Python & Environnements ---
.venv/
venv/
*.egg-info/
__pycache__/
*.pyc
pyproject.toml
uv.lock

# --- IDEs (VS Code, JetBrains, etc.) ---
.vscode/
.idea/
*.swp
*.swo

# --- Système & Divers ---
.DS_Store
Thumbs.db

# --- MCP (Model Context Protocol) ---
.mcp.json
.claude/settings.json
.claude/settings.local.json

# --- Graphify ---
graphify-out/
.graphify_python


# --- Claude ---
CLAUDE.md