# --- ESPHome & Compilateur ---
.esphome/
secrets.yaml

# --- Python & Environnements ---
.venv/
venv/
*.egg-info/
__pycache__/
*.pyc
pyproject.toml
uv.lock

# --- IDEs (VS Code, JetBrains, etc.) ---
.vscode/
.idea/
*.swp
*.swo

# --- Système & Divers ---
.DS_Store
Thumbs.db